{{> head }}
<!-- Uso de parciales: importante que la sintaxis sea esta-->
{{> navbar}}

<div class="row">
    <div class="col-4">
        <h1 class="text-center pt-1">Node JS</h1>
        <p class="p-2 text-success text-">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque et
            ex exercitationem facilis iure laborum nisi non nostrum, optio quaerat quis
            sit veniam? Accusantium consequatur esse minus quibusdam quisquam!
        </p>
    </div>

    <div class="col-8">
        <img src="assets/img/nodejs.png" alt="Node Js Api Rest" class="img-thumbnail">
    </div>
</div>

{{> footer}}